body
	font-size 16px
@import "./Mes/mes.styl"
@import "./Ticket/ticket.styl"
.PanelDeControl
	background-color: #140a10;
	justify-content space-between
	width 50%
	border 1px solid black
	overflow-y: auto;
	padding-bottom: 2em;
.Meses-Cabecera
	width: 240em;
	margin-bottom: 0.3em;
.Tickets
	width: 236em;
	margin-top: 0.5em;