.Mes
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: -6px;
    margin-left: 2.1em;
	.Mes-Dias,.Mes-Ticket
		//width: 59.6em;
	.Mes-Cuadrito
		width: 2em;
		height: 2em;
		background: #6a140f;
		margin-left: 1px;
		display: inline-block;
		border: 1px solid #907777;
		color white
		text-align center
		cursor pointer
	.Mes-Cuadrito:focus
		background #2189CA
		outline 2px solid #1A2D5D
	.Mes-Cuadrito:hover
		background #93CFF5
	.Mes-Cuadrito--white
		background-color #e8e8e8;