.Mes
    background-color: #140a10;
    color: #fff;
    text-align: center;
    border-left: 1px solid #f5deb3;
    padding: .5em;
	.Mes-Dias
		width: 935px;
	.Mes-Cuadrito
		width: 2em;
		height: 2em;
		background: #6a140f;
		margin-left: 1px;
		display: inline-block;
		border: 1px solid #907777;
		color white
		text-align center 